.slider-container {
  --flow-space: 2em;
}

.slider-container > * {
  --flow-space: 1em;
}

.orientation {
  --cluster-gap: 0.5em;
}

@media (orientation: landscape) {
  .orientation {
    display: none;
  }
}

.slider {
  /* Color of the track & thumb */
  --accent-colour: var(--bg);
  /* Or you can set the two independently: */
  --track-color: white;
  --thumb-color: var(--bg);
  /* Background of the thumb */
  --thumb-background: #fff;
  /* Size of the thumb */
  --thumb-size: 62px;
  /* Thickness of the bar */
  --bar-size: 2px;
  /* Touch-thickness of the bar */
  --bar-touch-size: 30px;
}

/* :where(.has-js) .slider {
  outline: 1px solid var(--tertiary);
} */

:where(.has-js) .slider > * + * {
  --flow-space: 0;
}

.slider .styles_scrubber__39cN6 {
  width: var(--space-2xl);
  height: var(--space-2xl);
}
/* 
.slider svg {
  fill: var(--bg);
} */

.slider-container img {
  width: 100%;
  height: auto;
  max-height: calc(100vh - (2 * var(--space-s-m)));
  object-fit: cover;

  /* background-color: transparent; */
  background-image: linear-gradient(
      0deg,
      transparent 24%,
      var(--tertiary) 25%,
      var(--tertiary) 26%,
      transparent 27%,
      transparent 74%,
      var(--tertiary) 75%,
      var(--tertiary) 76%,
      transparent 77%,
      transparent
    ),
    linear-gradient(
      90deg,
      transparent 24%,
      var(--tertiary) 25%,
      var(--tertiary) 26%,
      transparent 27%,
      transparent 74%,
      var(--tertiary) 75%,
      var(--tertiary) 76%,
      transparent 77%,
      transparent
    );
  background-size: var(--step-0) var(--step-0);
}

.hubble,
.webb {
  position: relative;
}

/* .hubble {
  outline: 1px dashed var(--tertiary);
} */

:where(.has-js) .hubble:before,
:where(.has-js) .webb::before {
  content: "👀";
  position: absolute;
  inset-block-start: var(--space-xs-s);
  font-size: var(--step-1);
}

.hubble:before {
  inset-inline-end: var(--space-xs-s);
}

.webb::before {
  /* flip horizontally */
  transform: scaleX(-1);
  inset-inline-start: var(--space-xs-s);
}

.hubble:after,
.webb::after {
  content: attr(data-title);
  position: absolute;
  inset-block-start: var(--space-xs-s);
  color: white;
  font-size: var(--step-1);
  font-weight: 700;
  text-transform: uppercase;
  line-height: 1;
  font-family: var(--font-special);
}

.hubble:after {
  inset-inline-start: var(--space-xs-s);
}

.webb::after {
  inset-inline-end: var(--space-xs-s);
}

.slider-footer {
  justify-content: space-between;
}

:where(.slider-container) button {
  display: none;
}

:where(.has-js .slider-container) button {
  display: unset;
}

.slider-container button:hover {
  text-decoration-thickness: var(--space-4xs);
}

:where(.slider-container) details p {
  max-width: 54ch;
}

.slider-container[data-state="visible"] .hubble:before,
.slider-container[data-state="visible"] .webb:before {
  content: "";
}

/* .slider-container[data-state="visible"] .hubble img {
  outline: 1px dashed var(--tertiary);
} */

.slider-container[data-state="visible"] button {
  display: none;
}
