{%- extends "layouts/base.html" -%}
{%- block injectHead -%}
  <script src="scripts/two-up.js"></script>
{%- endblock -%}
{%- block content -%}
  {{ content | safe }}
  {%- include "partials/slider.html" -%}
{%- endblock -%}
{%- block bodyScripts -%}
  <script>
    const sliderContainer = document.querySelector('.slider-container');
    const twoUp = document.querySelector('.slider');
    const viewIndividually = document.querySelector('button');

    viewIndividually.addEventListener("click", showIndividually);

    function showIndividually() {
      while (twoUp.firstChild)
        {
          twoUp.parentNode.insertBefore(twoUp.firstChild,
        twoUp);
        }
        twoUp.parentNode.removeChild(twoUp);
        sliderContainer.setAttribute('data-state', 'visible');
    }
  </script>
{%- endblock -%}