<div class="slider-container flow">
  <p class="orientation cluster">
    Best experienced in landscape orientation
    {%- include "partials/svg-landscape.html" -%}
  </p>
  <two-up class="slider full-bleed flow">
    <div class="hubble" data-title="Hubble">
      {% image "./src/images/hubble.png", "NGC 3324 in the Carina Nebula captured on NASA’s Hubble Space Telescope", "(min-width: 30em) 98vw, 100vw", "eager" %}
    </div>
    <div class="webb" data-title="Webb">
      {% image "./src/images/webb.png", "NGC 3324 in the Carina Nebula captured in infrared light by the Near-Infrared Camera (NIRCam) on NASA’s James Webb Space Telescope", "(min-width: 30em) 98vw, 100vw", "eager" %}
    </div>
  </two-up>
  <div class="slider-footer cluster">
    <p class="credit step--1">
      Credit: NASA 
      [
      <a href="https://esahubble.org/images/opo0834a/">Hubble</a> | 
      <a href="https://webbtelescope.org/contents/media/images/2022/031/01G77PKB8NKR7S8Z6HBXMYATGJ">Webb</a>
      ]
    </p>
    <button class="step--1" onclick="fullWidth()">View individually</button>
  </div>
</div>
